name: Build PJRT GPU libraries

on:
  workflow_call:
    inputs:
      xla_commit:
        required: false
        type: string
      rocm_xla_commit:
        required: false
        type: string

env:
  XLA_COMMIT: ${{ inputs.xla_commit || '9caad7b3520548142ccd6a2d528a06be6c474de1' }} # main from 2025-12-23
  ROCM_XLA_COMMIT: ${{ inputs.rocm_xla_commit || 'a841f7a22e36f856032eed3f4e9e83903d482198' }} # rocm-jaxlib-v0.8.0 from 2025-12-30
  TF_ROCM_AMDGPU_TARGETS: "gfx900,gfx906,gfx908,gfx90a,gfx942,gfx1030,gfx1100"

jobs:
  pjrt-artifacts:
    runs-on: ${{ matrix.pjrt.runs_on }}
    strategy:
      fail-fast: false
      matrix:
        pjrt:
          - target: cuda
            bazel_opts: ""
            config: "--spawn_strategy=local --disk_cache=/home/runner/.cache/bazel-disk --config=cuda"
            artifact: bazel-bin/xla/pjrt/c/libpjrt_c_api_gpu_plugin.so
            renamed_artifact: libpjrt_cuda.so
            runs_on: ["runs-on", "runner=32cpu-linux-x64", "image=ubuntu22-amd64"]
            platform: linux-amd64
            bazel_target: //xla/pjrt/c:pjrt_c_api_gpu_plugin
          - target: rocm
            bazel_opts: ""
            config: "--spawn_strategy=local --disk_cache=/home/runner/.cache/bazel-disk --config=rocm_ci"
            artifact: bazel-bin/xla/pjrt/c/libpjrt_c_api_gpu_plugin.so
            renamed_artifact: libpjrt_rocm.so
            runs_on: ["runs-on", "runner=32cpu-linux-x64", "image=ubuntu22-amd64"]
            platform: linux-amd64
            bazel_target: //xla/pjrt/c:pjrt_c_api_gpu_plugin
          - target: cpu
            bazel_opts: "--output_base=/tmp/bazel_output_base_cpu_darwin_arm64"
            config: "--spawn_strategy=processwrapper-sandbox --config=release_macos_arm64 --macos_sdk_version=15.5"
            artifact: bazel-bin/xla/pjrt/c/libpjrt_c_api_cpu_plugin.dylib
            runs_on: ["self-hosted", "macOS"]
            renamed_artifact: libpjrt_cpu.dylib
            platform: darwin-arm64
            bazel_target: //xla/pjrt/c:pjrt_c_api_cpu_plugin
          - target: cpu
            bazel_opts: "--output_base=/tmp/bazel_output_base_cpu_darwin_amd64"
            config: "--spawn_strategy=processwrapper-sandbox --config=release_macos_base --macos_sdk_version=15.5"
            artifact: bazel-bin/xla/pjrt/c/libpjrt_c_api_cpu_plugin.dylib
            renamed_artifact: libpjrt_cpu.dylib
            runs_on: ["self-hosted", "macOS"]
            platform: darwin-amd64
            bazel_target: //xla/pjrt/c:pjrt_c_api_cpu_plugin
          - target: cpu
            bazel_opts: ""
            config: "--spawn_strategy=processwrapper-sandbox --disk_cache=/home/runner/.cache/bazel-disk "
            artifact: bazel-bin/xla/pjrt/c/libpjrt_c_api_cpu_plugin.so
            renamed_artifact: libpjrt_cpu.so
            runs_on: ["runs-on", "runner=32cpu-linux-x64", "image=ubuntu22-amd64"]
            platform: linux-amd64
            bazel_target: //xla/pjrt/c:pjrt_c_api_cpu_plugin
    steps:
      - uses: runs-on/action@v1
        if: matrix.pjrt.platform != 'darwin-arm64' && matrix.pjrt.platform != 'darwin-amd64'

      - name: "Checking out repository"
        uses: actions/checkout@v4
        with:
          path: "pjrt-artifacts"

      - name: "Checking out openxla repository"
        uses: actions/checkout@v4
        with:
          ref: ${{ matrix.pjrt.target == 'rocm' && env.ROCM_XLA_COMMIT || env.XLA_COMMIT }}
          repository: ${{ matrix.pjrt.target == 'rocm' && 'ROCm/xla' || 'openxla/xla' }}
          path: "xla"

      - name: Apply patches to openxla
        id: patches
        working-directory: ./xla
        env:
          PATCH_DIRECTORY: ${{ matrix.pjrt.target == 'rocm' && 'rocm' || 'upstream' }}
        run: |
          xla_commit=$(git rev-parse HEAD)
          echo "XLA_COMMIT_ID=$xla_commit" >> $GITHUB_OUTPUT
          echo ::notice::Applying patches to openxla $xla_commit
          for patch in $(ls ../pjrt-artifacts/openxla/patches/$PATCH_DIRECTORY/*.patch | sort); do
              echo "Applying patch $patch"
              git apply "$patch"
          done

      - uses: runs-on/snapshot@v1
        if: matrix.pjrt.platform != 'darwin-arm64' && matrix.pjrt.platform != 'darwin-amd64'
        with:
          path: /home/runner/.cache/bazel-disk
          volume_size: 350

      - name: TMP fix for the mount user
        if: matrix.pjrt.platform != 'darwin-arm64' && matrix.pjrt.platform != 'darwin-amd64'
        run: sudo chown -R runner:runner /home/runner/.cache/

      - name: Download ROCm toolchain (not fully hermetic)
        if: matrix.pjrt.target == 'rocm'
        run: |
          export DEBIAN_FRONTEND=noninteractive
          sudo bash -c "$(wget -O - https://apt.llvm.org/llvm.sh)" -- 18
          sudo apt update -y
          sudo apt install llvm-18 lld-18 clang-18 libnuma-dev -y
          wget https://repo.radeon.com/amdgpu-install/7.1.1/ubuntu/jammy/amdgpu-install_7.1.1.70101-1_all.deb
          sudo apt install ./amdgpu-install_7.1.1.70101-1_all.deb -y
          sudo amdgpu-install --usecase=rocm,rocmdev,hiplibsdk -y --no-dkms

      - uses: bazel-contrib/setup-bazel@0.15.0
        with:
          bazelisk-version: 1.26.0
          bazelisk-cache: false
          bazelrc: |
            common --verbose_failures
            common --color=yes
            common --show_timestamps

      - name: "Setup bazelrc for openxla"
        run: |
          cp pjrt-artifacts/openxla/bazelrc/${{ matrix.pjrt.target }}.bazelrc xla/xla_configure.bazelrc

      - name: "Build ${{ matrix.pjrt.target }} ${{ matrix.pjrt.platform }}"
        working-directory: ./xla
        run: |
          bazel ${{ matrix.pjrt.bazel_opts }} build ${{ matrix.pjrt.config }} ${{ matrix.pjrt.bazel_target }}

      - name: Set file at the right path
        if: matrix.pjrt.platform != 'darwin-arm64' && matrix.pjrt.platform != 'darwin-amd64'
        working-directory: ./xla
        run: |
          cp ${{ matrix.pjrt.artifact }} ../${{ matrix.pjrt.renamed_artifact }}

      - name: Strip binary and rpath
        if: matrix.pjrt.platform == 'darwin-arm64' || matrix.pjrt.platform == 'darwin-amd64'
        working-directory: ./xla
        run: |
          strip -x -o ../${{ matrix.pjrt.renamed_artifact }} ${{ matrix.pjrt.artifact }}
          install_name_tool -id '@rpath/${{ matrix.pjrt.renamed_artifact }}' ../${{ matrix.pjrt.renamed_artifact }}

      - name: Create compressed ${{ matrix.pjrt.target }} ${{ matrix.pjrt.platform }} release file
        uses: a7ul/tar-action@v1.2.0
        with:
          command: c
          cwd: ./
          files: |
            ./${{ matrix.pjrt.renamed_artifact }}
          outPath: pjrt-${{ matrix.pjrt.target }}_${{ matrix.pjrt.platform }}.tar.gz

      - name: Upload ${{ matrix.pjrt.target }} ${{ matrix.pjrt.platform }} artifacts
        uses: actions/upload-artifact@v4
        with:
          name: pjrt-${{ matrix.pjrt.target }}_${{ matrix.pjrt.platform }}.tar.gz
          path: pjrt-${{ matrix.pjrt.target }}_${{ matrix.pjrt.platform }}.tar.gz
