name: nightly - PJRT CUDA library
on:
  workflow_dispatch:
  pull_request:
  schedule:
    - cron: '0 */4 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  nightly-pjrt-artifacts:
    if: github.event_name != 'pull_request' || contains(join(github.event.pull_request.labels.*.name, ','), 'nightly')
    uses: ./.github/workflows/build.yaml
    with:
      xla_commit: main
      rocm_xla_commit: rocm-jaxlib-v0.8.0
