name: Nightly

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

concurrency:
  group: ${{ github.workflow_sha }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  nightly-pjrt-artifacts:
    uses: ./.github/workflows/_build.yaml
    with:
      xla_commit: main
      rocm_xla_commit: rocm-jaxlib-v0.8.0
      bazel_extra_args: "--config=dbg"
    secrets:
      BUILDBUDDY_API_KEY: ${{ secrets.BUILDBUDDY_API_KEY }}
