name: PJRT GPU library
on:
  push:
    tags:
      - "*"
  pull_request:

concurrency:
  group: ${{ github.workflow_sha }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  pjrt-artifacts:
    uses: ./.github/workflows/build.yaml
    with:
      xla_commit: f238b48769d2ab8d62eeb09b5d31a972dfa4841a # main
      rocm_xla_commit: 06402b44669c52956732678772104dcb85c53806 # rocm-jaxlib-v0.8.0
